.stairs {
  position: relative;

  &-up {
    background-image: url('./assets/stairs-up.svg');
    background-size: 100% auto;

    &__secret {
      filter: drop-shadow(16px 16px 20px red) invert(75%);

    }

    &:hover {
      filter: opacity(0.4);
    }

  }

  &-down {
    background-image: url('./assets/stairs-down.svg');
    background-size: 100% auto;

    &__secret {
      filter: drop-shadow(16px 16px 20px red) invert(75%);

    }

    &:hover {
      filter: opacity(0.4);
    }
  }
}
