.stairs {
  position: relative;

  &-up {
    background-image: url('./assets/stairs-up.svg');
    background-size: 100% auto;

    &__secret {

    }

    &:hover {
      filter: invert(0.5)
    }

  }

  &-down {
    background-image: url('./assets/stairs-down.svg');
    background-size: 100% auto;

    &__secret {

    }

    &:hover {
      filter: invert(0.5)
    }
  }
}
