.DebugOverlay {
  position: fixed;
  padding-left: 1em;
  padding-right: 1em;
  background: rgba(185, 178, 178, 0.15);
  top: 1em;
  left: 1em;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  z-index: 1;
  user-select: none; // Not clickable
  pointer-events: none; // Click-through
}
